<div>
    <!-- TODO: refactor to a filter-component that emits events on every new set of filter options -->
    <div class="categories">
        <span class="">Browse By category:</span>
        <ul class="nav nav-pills nav-justified">
            <li (click)="onCategorySelected(category)" *ngFor="let category of categories" class="nav-item m-1 p-1">
              <a class="btn nav-link" [class.active]="selectedCategory === category" href="#">{{category}}</a>
            </li>
          </ul>
    </div>

    <div class="row position-relative">
        <product *ngFor="let product of products" [product]="product" class="col-md-4"></product>
        <ngx-spinner [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
            <p class="loading">Loading Products...</p>
        </ngx-spinner>
    </div>
</div>