<div class="main-content">
    <div class="container-fluid">
        <div class="card m-auto">
            <div class="text-center float-right">
                <img [src]="product.image" class="img-fluid" width="300" alt="product image">
            </div>
            <div class="card-body">
              <h5 class="card-title">{{product.title}}</h5>
              <p class="card-text">{{product.description}}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"> 
                  <p>Item category: {{product.category}}</p>
                </li>

              <li class="list-group-item">
                <h5>Get this is item at <span class="">{{product.price | currency}}</span></h5>
              </li>
            </ul>

            <div class="card-body">
              <a href="#" class="btn btn-primary">Add to cart</a>
              <a routerLink="/products" class="btn btn-outline-primary">Back</a>
            </div>
          </div>
    </div>
</div>