<div class="card">
    <div class="card-header">
        <div class="product-image text-center">
            <img [src]="product.image" class="img-fluid" width="200" alt="product image">
        </div>
    </div>
    <div class="card-body">
        <h4 class="card-title">{{product.title}}</h4>
        <p class="card-category">{{product.category}}</p>
    </div>
    <div class="card-footer">
        <div class="actions">
            <button class="btn btn-info">view</button>
        </div>
    </div>
</div>